# Docs: https://github.com/bk138/gromit-mpx#how-to-use-it

# Global Keys
HOTKEY = "Control_R";
UNDOKEY = "Alt_R";

# Pen
"red Pen" = PEN (size=5 color="red" fillcolor="black");
"cyan Pen" = "red Pen" (color="cyan");
"yellow Pen" = "red Pen" (color="yellow");
"smoothed Pen" = SMOOTH (size=5 color="red" simplify=10 snap=30);

"default" = "red Pen";
"default"[SHIFT] = "cyan Pen";
"default"[CONTROL] = "yellow Pen";
"default"[CONTROL,SHIFT] = "smoothed Pen";

# Shapes
"red Rectangle" = RECT (color="red", size=4);
"red Circle" = CIRCLE (color="red" size=3);
"red Filled Circle" = CIRCLE (color="black" size=3 fillcolor="red");
"semi-transparent Circle" = CIRCLE (color="black" size=3 fillcolor="rgba(255, 0, 0, 0.3)");

"default"[ALT] = "red Rectangle";
"default"[ALT,SHIFT] = "red Circle";
"default"[ALT,CONTROL] = "semi-transparent Circle";

# Utilities
"red Arrow" = LINE (size=6 color="red" arrowsize=1.5);
"red Line" = LINE (size=5 color="red");
"Eraser" = ERASER (size=75);
"red Curve Arrow" = "smoothed Pen" (arrowsize=1.75);

"default"[3] = "red Arrow";
"default"[SHIFT,3] = "red Line";
"default"[CONTROL,3] = "Eraser";
"default"[ALT,3] = "red Curve Arrow";
