# Global Keys
HOTKEY = "Control_R";
UNDOKEY = "Alt_R";

# Tool definitions.
# Pen button
"red Pen" = PEN (size=5 color="red" fillcolor="black");
"cyan Pen" = "red Pen" (color="cyan");
"yellow Pen" = "red Pen" (color="yellow");

"default" = "red Pen";
"default"[SHIFT] = "cyan Pen";
"default"[CONTROL] = "yellow Pen";

# Shapes
"red Rectangle" = RECT (color="red");
"red Circle" = CIRCLE (color="red" size=3);
"red Filled Circle" = CIRCLE (color="black" size=3 fillcolor="red");
"semi-transparent Circle" = CIRCLE (color="black" size=3 fillcolor="rgba(255, 0, 0, 0.3)");

"default"[ALT] = "red Rectangle";
"default"[ALT,SHIFT] = "red Circle";
"default"[ALT,CONTROL] = "semi-transparent Circle";

# Utilities
"red Arrow" = LINE (color="red" arrowsize=1.5);
"red Line" = LINE (color="red");
"Eraser" = ERASER (size = 75);

"default"[3] = "red Arrow";
"default"[SHIFT,3] = "red Line";
"default"[CONTROL,3] = "Eraser";
