# Load .Xresources
xrdb -merge ~/.Xresources

# Screen Wallpaper
feh --bg-fill $HOME/Pictures/wallpapers/wallpaper.png &

# Network Manager Applet
nm-applet --indicator &

# Screenshots
flameshot &

# Notifications
dunst &

# Environment variables set everywhere
export EDITOR="nvim"
export TERMINAL="kitty"
export BROWSER="firefox"
