# For QT Themes
export QT_QPA_PLATFORMTHEME=qt5ct

# Environment variables set everywhere
export EDITOR="nvim"
export TERMINAL="kitty"
export BROWSER="firefox"

# Load .Xresources
xrdb -merge ~/.Xresources

# Touchpad/Mouse - xinput list
TOUCHPAD=$(xinput list --name-only | grep -i touchpad)
# Trackpad speed (-1 to 1)
xinput set-prop "$TOUCHPAD" "libinput Accel Speed" 0

# Remap caps to escape
# setxkbmap -option caps:escape
# Swap escape and caps
# setxkbmap -option caps:swapescape

# Keys speed
xset r rate 550 25 # initial delay 600ms, repeat 25 ms

# Enable DPMS (Display Power Management Signaling)
xset +dpms

# Primary Display
export PRIMARY_DISPLAY="$(xrandr | awk '/ primary/{print $1}')"

# Turn off screen after 5 minutes (300 seconds) and lock after 5 minutes and Suspend system after 15 minutes (900 seconds) of inactivity
xidlehook \
  --not-when-fullscreen \
  --not-when-audio \
  --timer 300 \
  'xrandr --output "$PRIMARY_DISPLAY" --brightness .01' \
  'xrandr --output "$PRIMARY_DISPLAY" --brightness 1' \
  --timer 300 \
  'xrandr --output "$PRIMARY_DISPLAY" --brightness 1; i3lock -i "$XDG_PICTURES_DIR/wallpapers/lock.png"' \
  '' \
  --timer 900 \
  'systemctl suspend' \
  '' &

# Screen Wallpaper
feh --bg-fill $XDG_PICTURES_DIR/wallpapers/wallpaper.png &
# feh --randomize --bg-fill $XDG_PICTURES_DIR/wallpapers/* &

# Network Manager Applet
nm-applet --indicator &

# Screenshots
flameshot &

# Notifications
dunst &

# Clipboard manager
greenclip daemon &
